<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>breadboard</title>
    <link href="/css/fontawesome.min.css" rel="stylesheet">
    <link href="/css/solid.min.css" rel="stylesheet">
    <link href="/css/regular.min.css" rel="stylesheet">
    <link href="/css/brands.min.css" rel="stylesheet">
    <link href="./global.css" rel="stylesheet" />
    </style>
  </head>
  <body class="<%=theme%>">
    <div id='bar'></div>
    <nav class="<%=platform%>">
      <a class='btn' href="/" class='btn'><i class="fa-solid fa-house"></i></a>
      <button id='prev'><i class="fa-solid fa-chevron-left"></i></button>
      <button id='next'><i class="fa-solid fa-chevron-right"></i></button>
      <a class='btn' href="/favorites"><i class="fa-solid fa-star"></i></a>
      <a class='btn' href="/?query=tag:favorite"><i class="fa-solid fa-heart"></i></a>
      <div class='status'></div>
      <input type='search' placeholder='search' class='search flexible'>
      <a class='btn' target="_blank" href="https://discord.gg/6MJ6MQScnX"><i class="fa-brands fa-discord"></i></a>
      <a class='btn' target="_blank" href="https://twitter.com/cocktailpeanut"><i class="fa-brands fa-twitter"></i></a>
      <a class='btn' target="_blank" href="https://github.com/cocktailpeanut/breadboard"><i class="fa-brands fa-github"></i></a>
      <a class='btn' href="/settings"><i class="fa-solid fa-gear"></i></a>
      <button id='notification' class= 'hidden'><i class="fa-solid fa-bell"></i></button>
    </nav>
    <div class='favorites'>
    </div>
    <script src="./dexie.js"></script>
    <script>
    let db;
    let user;
    const init_db = async () => {
      db = new Dexie("data")
      db.version(1).stores({
        files: "file_path, agent, model_name, root_path, prompt, btime, mtime, width, height, *tokens",
      })
      user = new Dexie("user")
      user.version(1).stores({
        folders: "&name",
        checkpoints: "&root_path, btime",
        settings: "key, val",
        favorites: "query, global"
      })
    }
    const init_theme = async () => {
      let theme = await user.settings.where({ key: "theme" }).first()
      if (!theme) theme = { val: "default" }
      document.body.className = theme.val
    }
    const search = (query) => {
      if (query && query.length > 0) {
        location.href = "/?query=" + query
      } else {
        location.href = "/"
      }
    }
    const row = (r) => {
      let checkClass = (r.global ? "fa-square-check" : "fa-square")
      let elClass = (r.global ? "global-filter on" : "global-filter")
      let globalEl = (r.global ? '<i class="fa-solid fa-power-off"></i> Turn off' : "<i class='fa-solid fa-globe'></i> set global")
      return `<div class='row'>
<a class='flexible' href="/?query=${encodeURIComponent(r.query)}"><i class="fa-solid fa-star"></i>&nbsp;${r.query}</a>
<div class='${elClass}' data-query="${r.query}" data-global="${r.global ? 'global' : ''}">${globalEl}</div>
</div>`
    }
    const renderFavorites = async () => {
      console.log("renderFavorites")
      // global
      let res = await user.favorites.where("global").equals(1).toArray()
      let rows = res.map(row).join("")

      // non global
      let res2 = await user.favorites.where("global").notEqual(1).toArray()
      console.log("res2", res2)
      let rows2 = res2.map(row).join("")

      document.querySelector(".favorites").innerHTML = `<main>
      <div class='header'>
        <h2><i class="fa-solid fa-bookmark"></i> Bookmarked Queries</h2>
        <div class='flexible'></div>
      </div>
      <div class='explain'>All your bookmarked queries</div>
      <br><br>
      <div class='rows'>
      ${rows2}
      </div>
      <br><br><br>
      <div class='header'>
        <h2><i class="fa-solid fa-globe"></i> Global Queries</h2>
        <div class='flexible'></div>
      </div>
      <div class='explain'>Global queries are applied to ALL Your queries by default, silently. And you can compose multiple global queries. Learn more: <a href="https://breadboard.me/docs" target="_blank">Learn more</a></div>
      <br><br>
      <div class='rows'>
      ${rows}
      </div>
    </main>`
    }
    document.querySelector(".search").addEventListener("keyup", (e) => {
      if (e.key === "Enter") {
        location.href = "/?query=" + e.target.value
      }
    });
    document.querySelector(".favorites").addEventListener("click", async (e) => {
      let globalTarget = (e.target.classList.contains(".global-filter") ? e.target : e.target.closest(".global-filter"))
      if (globalTarget) {
        let query = globalTarget.getAttribute("data-query") 
        let global = (globalTarget.getAttribute("data-global") === "global")
        console.log({ query, global })
        let newGlobal = (global ? 0 : 1)
        await user.favorites.where({ query }).modify({ global: newGlobal })
        location.href = location.href
      }
    });
    (async () => {
      await init_db()
      await init_theme()
      await renderFavorites()
    })();
    </script>
  </body>
</html>
