<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>breadboard</title>
    <link href="/css/fontawesome.min.css" rel="stylesheet">
    <link href="/css/solid.min.css" rel="stylesheet">
    <link href="/css/regular.min.css" rel="stylesheet">
    <link href="/css/brands.min.css" rel="stylesheet">
    <link href="./global.css" rel="stylesheet" />
    <style>
    body.default #reindex2 {
      background: royalblue;
      color: white;
    }
    body.dark #reindex2 {
      background: cornflowerblue;
      color: white;
    }
    </style>
  </head>
  <body class="<%=theme%>">
    <div id='bar'></div>
    <nav class="<%=platform%>">
      <a class='btn' href="/" class='btn'><i class="fa-solid fa-house"></i></a>
      <button id='prev'><i class="fa-solid fa-chevron-left"></i></button>
      <button id='next'><i class="fa-solid fa-chevron-right"></i></button>
      <a class='btn' href="/favorites"><i class="fa-solid fa-star"></i></a>
      <a class='btn' href="/?query=tag:favorite"><i class="fa-solid fa-heart"></i></a>
      <div class='status'></div>
      <input type='search' placeholder='search' class='search flexible'>
      <a class='btn' target="_blank" href="https://discord.gg/6MJ6MQScnX"><i class="fa-brands fa-discord"></i></a>
      <a class='btn' target="_blank" href="https://twitter.com/cocktailpeanut"><i class="fa-brands fa-twitter"></i></a>
      <a class='btn' target="_blank" href="https://github.com/cocktailpeanut/breadboard/issues"><i class="fa-solid fa-clipboard-question"></i></a>
      <a class='btn' href="/settings"><i class="fa-solid fa-gear"></i></a>
      <button id='notification' class= 'hidden'><i class="fa-solid fa-bell"></i></button>
    </nav>
    <div class='settings'></div>
    <script src="./dexie.js"></script>
    <script>
    let db;
    let user;
    let backup;
    const VERSION = "<%=version%>"
    const init_db = async () => {
      // init data db
      db = new Dexie("data")
      db.version(1).stores({
        files: "file_path, agent, model_name, model_hash, root_path, prompt, btime, mtime, width, height, *tokens",
      })
      // init user db
      user = new Dexie("user")
      user.version(1).stores({
        folders: "&name",
        checkpoints: "&root_path, btime",
        settings: "key, val",
        favorites: "query, global"
      })
    }
    const init_theme = async () => {
      let theme = await user.settings.where({ key: "theme" }).first()
      if (!theme) theme = { val: "default" }
      document.body.className = theme.val
      document.querySelector("html").className = theme.val
      window.electronAPI.theme(theme.val)
    }
    const search = (query) => {
      if (query && query.length > 0) {
        location.href = "/?query=" + query
      } else {
        location.href = "/"
      }
    }
    const renderSettings = async () => {
      let res = await user.folders.toArray()
      let rows = res.map((r) => {
        return `<div class='row'>
        <div>${r.name}</div>
        <div class='flexible'></div>
        <button class='reindex-folder' data-name='${r.name}'><i class="fa-solid fa-rotate"></i> Re-index</button> 
        <button class='del' data-name='${r.name}'><i class="fa-regular fa-trash-can"></i> Delete</button> 
    </div>`
      }).join("")

      let currentZoom = await user.settings.where({ key: "zoom" }).first()
      let zoom;
      if (currentZoom) {
        zoom = currentZoom.val
      } else {
        zoom = window.electronAPI.getzoom() * 100
      }

      document.querySelector(".settings").innerHTML = `<main>
      <div class='header'>
        <h2>Version</h2>
      </div>
      <div class='rows'>
        <div class='row'>${VERSION}</div>
      </div>
      <br><br>
      <div class='header'>
        <h2>Connected Folders</h2>
        <div class='flexible'></div>
        <button id='select'><i class="fa-solid fa-folder-plus"></i> Add a folder</button>
        <a id='reindex2' class='btn hidden' href="/?synchronize=default"><i class="fa-solid fa-rotate"></i> Synchronize</a>
      </div>
      <div class='rows'>
      ${rows}
      </div>
      <br><br>
      <div class='header'>
        <h2>Theme</h2>
        <div class='flexible'></div>
      </div>
      <div class='rows'>
        <div class='row'>
          <button id='dark-theme'><i class="fa-solid fa-moon"></i> Dark</button>
          <button id='default-theme'><i class="fa-regular fa-sun"></i> Light</button>
        </div>
      </div>
      <br><br>
      <div class='header'>
        <h2>Zoom</h2>
        <div class='flexible'></div>
      </div>
      <div class='rows'>
        <div class='row currentZoom'>${zoom}%</div>
        <div class='row'>
          <input type='range' min="50" max="200" value="${zoom}" step="1">
        </div>
      </div>
      <br><br>
      <div class='header'>
        <h2>Re-index</h2>
        <div class='flexible'></div>
      </div>
      <div class='rows'>
        <div class='row'>
          <button id='reindex'><i class="fa-solid fa-rotate"></i> Re-index from Scratch</button>
        </div>
      </div>
      <br><br>
      <div class='header'>
        <h2>Debug</h2>
        <div class='flexible'></div>
      </div>
      <div class='rows'>
        <div class='row'>
          <button id='debug'><i class="fa-solid fa-terminal"></i> Debug</button>
        </div>
      </div>
    </main>`
      <% if (query.sync_needed) { %>
        document.querySelector(".settings #reindex2").classList.remove("hidden")
      <% } %>
      document.querySelector("#prev").addEventListener("click", (e) => {
        history.back()
      })
      document.querySelector("#next").addEventListener("click", (e) => {
        history.forward()
      })
      document.querySelector("input[type=range]").addEventListener("input", async (e) => {
        e.preventDefault()
        e.stopPropagation()
        window.electronAPI.zoom(e.target.value)
        await user.settings.put({ key: "zoom", val: e.target.value })
        e.target.closest(".rows").querySelector(".currentZoom").innerHTML = "" + e.target.value + "%"
      })
      document.querySelector("#reindex2").addEventListener("click", async (e) => {
        e.preventDefault()
        e.stopPropagation()
        location.href = "/?synchronize=default"
      })
      document.querySelector("#reindex").addEventListener("click", async (e) => {
        e.preventDefault()
        e.stopPropagation()

        // 1. Delete the DB
        await db.delete()

        // 2. Delete the checkpoint table
        await user.checkpoints.clear()


        // 2. Send to reindex (the home page will read the localStorage to automatically fill the favorites and settings DB after reindexing)
        location.href = "/?synchronize=reindex"
      })
      document.querySelector("#debug").addEventListener('click', async (e) => {
        e.preventDefault()
        e.stopPropagation()
        window.electronAPI.debug()
      })
      document.querySelector("#select").addEventListener('click', async (e) => {
        e.preventDefault()
        e.stopPropagation()
        let paths = await window.electronAPI.select()
        if (paths && paths.length > 0) {
          for(let name of paths) {
            await user.folders.put({ name: name })
          }
          location.href = location.href + "?sync_needed=true"
        }
      })
      document.querySelector(".settings").addEventListener("click", async (e) => {
        e.preventDefault()
        e.stopPropagation()
        let delTarget = (e.target.classList.contains("del") ? e.target : e.target.closest(".del"))
        let reindexTarget = (e.target.classList.contains("reindex-folder") ? e.target : e.target.closest(".reindex-folder"))
        if (delTarget) {
          const confirmed = confirm("disconnect the folder?")
          if (confirmed) {
            let name = delTarget.getAttribute("data-name")
            // Delete the folder
            await user.folders.where({ name }).delete()
            // Delete all the files in the folder
            await db.files.where({ root_path: name }).delete()
            // Delete the checkpoint
            await user.checkpoints.where({ root_path: name }).delete()
            location.href = location.href
          }
        } else if (reindexTarget) {
          let name = reindexTarget.getAttribute("data-name")
          // Delete all the files in the folder
          await db.files.where({ root_path: name }).delete()
          // Delete the checkpoint
          await user.checkpoints.where({ root_path: name }).delete()
          location.href = "/?synchronize=reindex_folder&sync_folder="+encodeURIComponent(name)
        }
      })
      document.querySelector("#dark-theme").addEventListener('click', async (e) => {
        e.preventDefault()
        e.stopPropagation()
        await user.settings.put({ key: "theme", val: "dark" })
        await init_theme()
      })
      document.querySelector("#default-theme").addEventListener('click', async (e) => {
        e.preventDefault()
        e.stopPropagation()
        await user.settings.put({ key: "theme", val: "default" })
        await init_theme()
      })
      document.querySelector(".search").addEventListener("keyup", (e) => {
        if (e.key === "Enter") {
          location.href = "/?query=" + e.target.value
        }
      })
      settingsRendered = true
    }
    (async () => {
      await init_db()
      await init_theme()
      await renderSettings()
    })();
    </script>
  </body>
</html>
